@import '../../styles/mixins.scss';

.top-container {
  justify-content: center;
  display: flex;
  flex-direction: column;

  .filter {
    @include default-padding;
    margin-top: 120px;
    display: flex;
    
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;

      select {
        margin-left: 1em;
        
      }
    }
  }
}

.attraction-box {
  padding-left: 360px;
  padding-right: 360px;
}