@mixin default-padding {
  padding-left: 400px;
  padding-right: 400px;
}

@mixin card-border {
  border: solid;
  border-width: 1px;
  border-color: lightgray;
  border-radius: 0.375rem;
}

@mixin layout-margin {
  margin-left: 10px;
  margin-right: 10px;
}