@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: "Source Sans Pro", sans-serif;
$logo-font: 'Lobster Two', cursive;
$main-font: 'Roboto', sans-serif;



$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$yellow: #E6C459;
$green: #7EA78B;
$red: #C6483C;

$spacing: 2rem;
