@import "../styles/variables.scss";
@import '../styles/mixins.scss';


nav {
	position: fixed;
  z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
  border-bottom: solid;
  border-color: rgb(239, 239, 239);
  border-width: 2px;

  @include default-padding;

	height: 3em;
	display: flex;
	align-items: center;
  justify-content: flex-end;
}
.nav-logo {
  font-family: $logo-font;
  font-size: 2.2em;
  font-weight: bold;
  color: $red;
  padding-right: 0.4em;
  padding-left: 0.2em;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.drop-down {
  color: $green;
  font-size: 1.5em;
  margin-right: 10px;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  color: $green;
  position: absolute;
  right: 0;
  font-size: 2em;
  padding: 0.3em 0.4em;
  align-self: flex-end;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0%;
  
  position: fixed; /* Stay in place */
  right: 0;
  top: 0;
  background-color: $yellow; /* Black fallback color */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.3s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  &-header {
    display: flex;
    flex-direction: column;

    &--logo {
      font-family: $logo-font;
      font-weight: bold;
      margin-top: 0;
      font-size: 5em;
      color: $red;
      margin-left: 5vw;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  left: 15%;
  width: 100%; /* 100% width */
  text-align: left; /* Centered text/links */

  a {
    text-decoration: none
  }
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 1em;
  text-decoration: none;
  font-size: 1.5em;
  color:white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */

  &:hover, :focus {
    color: $green;
  }
}

.search-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  &--style {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }

    &--button {

      background: none;
      border: none;
      outline: none;
      font-size: 1.5em;
      color: $green;
    }

    .user-avatar {

      position: inherit;
      background-color: $yellow;
      color: white;
      font-weight: bolder;
      margin-right: 10px;
      border-radius: 50%;
      height: 35px;
      width: 35px;
  
    }
  }

