@import "../styles/variables.scss";
@import '../styles/mixins.scss';

.start-planning {

  margin-top: 70px;
  margin-bottom: -15px;
  padding-bottom: 20px;
  font-family: $main-font;
  font-weight: 900;
  font-size: 3em;
  background-image: url(../../public/home-background.jpg);
  margin-left: 400px;
  margin-right: 400px;
  background-size: cover;
  border-radius: 0.375em;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  cursor: pointer;


  &:hover {
    box-shadow: 1px 1px 5px #999;
  }

  span {
    padding-left: 10px;
    color: white;
    background-color: rgba(32, 36, 80, 0.5);
  }

  &--description {
    font-family: $main-font;
    font-weight: 400;
    font-size: medium;
    padding-bottom: 10px;
  }
}

.planning-list {

  &--title {
    font-family: $main-font;
    color: black;
    font-size: 2em;
  }

  &--container {
    padding: 10px;
    margin-top: 1em;
  }
}

.title {
  display: flex;
  flex-direction: column;
}